$bgc: rgb(227,227,238);
$br: 32px;
$marge: 15px;
$bshad: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
$white: rgb(255,255,255);
$mukta: "Mukta", sans-serif;

@mixin icon-mixin($background-img, $icon-width: 22px, $icon-height: 22px) {
    width: $icon-width;
    height: $icon-height;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url($background-img);
    transition: width 0.5s, height 0.5s, box-shadow 0.5s;

}

@mixin icon-grow-and-boxshadow($grow-width: 25px, $grow-height: 25px, $box-shadow-type: (rgba(111,106,248, 0.4) -5px 5px, rgba(111,106,248, 0.3) -10px 10px, rgba(111,106,248, 0.2) -15px 15px, rgba(111,106,248, 0.1) -20px 20px, rgba(111,106,248, 0.05) -25px 25px)) {
    width: $grow-width;
    height: $grow-height;
    box-shadow: $box-shadow-type;
}

@mixin each-modual{
    margin-top: 1em;
    display: flex;
    width: 190px;
    height: 45px;
    border-radius: 15px;
    transition: box-shadow 0.3s;
}

@mixin modual-icon-box{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    width: 25%;
    height: 45px;
    background-color: rgb(228,229,243);
    margin-right: 10px;
}

@mixin modual-icon($modual-icon-mixin, $icon-image-width: 22px, $icon-image-height: 22px){
    @include icon-mixin($modual-icon-mixin, $icon-image-width, $icon-image-height);
}

@mixin modual-text-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75%;
}

@mixin header-text{
    font-size: 11px;
    font-weight: bold;
}

@mixin time-text{
    font-size: 10px;
    color: rgb(198,197,217);
}

@mixin add-box-shadow {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

@mixin boxes(){
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: $br;
    width: 130px;
    height: 130px;
    margin-left: 10px;
    padding: 30px;
    background-color: rgb(255, 255, 255);
    font-family: $mukta;
    color: rgb(30,27,82);
    box-shadow: $bshad;
    transition: height 0.5s, width 0.5s;
}

@mixin box-icon($box-icon-image, $box-icon-width: 40px, $box-icon-height: 40px){
    width: $box-icon-width;
    height: $box-icon-height;
    background-image: url($box-icon-image);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: invert(16%) sepia(37%) saturate(1770%) hue-rotate(215deg) brightness(84%) contrast(107%);
}

@mixin box-number() {
    font-size: 32px;
}