@use "variables.scss" as *;
body {
    background-color: $bgc;
}

p {
    padding: 0;
    margin: 0;
    user-select: none;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(247,250,251);
    margin: 40px 20px;
    box-shadow: $bshad;
    border-radius: $br;
    height: 560px;
    max-width: 960px;
    min-width: 960px;
}
.cLeft {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(111,106,248);
    border-radius: .75em;
    width: 3em;
    margin: 15px 5px 15px 15px;
    box-shadow: $bshad;
}
.cCenter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: $br;
    width: 625px;
    margin: 15px 0px;
}
.cRight {
    background-color: rgb(242,242,252);
    border-radius: $br;
    width: 13em;
    margin: $marge;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.calendar {
    @include icon-mixin("images/calendar-days-regular.svg");
    border-radius: 3px;
}

.calendar:hover{
   @include icon-grow-and-boxshadow();
}

.bell {
    @include icon-mixin("images/bell-regular.svg");
    border-radius: 20px;
}

.bell:hover{
    @include icon-grow-and-boxshadow();
}

.messages{
    @include icon-mixin("images/message-regular.svg");
    border-radius: 3px;
}

.messages:hover {
    @include icon-grow-and-boxshadow();
}

.basic-user {
    @include icon-mixin("images/no-profile-pic.png",25px,25px);
}

.basic-user:hover {
    @include icon-grow-and-boxshadow(30px,30px,(rgba(111,106,248, 0.4) 0px 5px, rgba(111,106,248, 0.3) 0px 10px, rgba(111,106,248, 0.2) 0px 15px, rgba(111,106,248, 0.1) 0px 20px, rgba(111,106,248, 0.05) 0px 25px));
}


.productBar {
    display: flex;
    justify-content: flex-end;
    margin: 15px;

}   

.to-do-list {
    font-family: $mukta;
    margin: 1em;
    color: rgb(30,27,82)
}

.modual-1{
    @include each-modual();
}

.modual-pic-box-1{
    @include modual-icon-box();
}

.modual-pic-1{
    @include modual-icon("images/money-bill-1-regular.svg");
}

.modual-p-tags-1{
    @include modual-text-box();
}

.modual-top-text-1{
    @include header-text();
}

.modual-time-text-1{
    @include time-text();
}

.modual-1:hover {
    @include add-box-shadow();
}

.modual-2{
    @include each-modual();
}

.modual-pic-box-2{
    @include modual-icon-box();
}

.modual-pic-2{
    @include modual-icon("images/clock-regular.svg", 19px, 19px);
}

.modual-p-tags-2{
    @include modual-text-box();
}

.modual-top-text-2{
    @include header-text();
}

.modual-time-text-2{
    @include time-text();
}

.modual-2:hover{
    @include add-box-shadow();
}

.modual-3{
    @include each-modual();
}

.modual-pic-box-3{
    @include modual-icon-box();
}

.modual-pic-3{
    @include modual-icon("images/clipboard-regular.svg", 19px, 19px);
}

.modual-p-tags-3{
    @include modual-text-box();
}

.modual-top-text-3{
    @include header-text();
}

.modual-time-text-3{
    @include time-text();
}

.modual-3:hover{
    @include add-box-shadow();
}

.modual-4{
    @include each-modual();
}

.modual-pic-box-4{
    @include modual-icon-box();
}

.modual-pic-4{
    @include modual-icon("images/paperclip-solid.svg", 18px, 18px);
}

.modual-p-tags-4{
    @include modual-text-box();
}

.modual-top-text-4{
    @include header-text();
}

.modual-time-text-4{
    @include time-text();
}

.modual-4:hover{
    @include add-box-shadow();
}

.logo {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: $white;
    padding: 20px;
}
div i {
    padding: 10px;
    color: $white;
    margin: 1px;
    border: rgb(111,106,248);
    border-style: solid;
}
div i:hover{
    border: $white;
    border-style: groove;
}
.gear {
    display: flex;
    flex-grow: 2;
    align-items: flex-end;
    padding-bottom: 30px;
}
.wCont2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 265px;
    width: 600px;
}
.wCont3 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 260px;
    width: 250px;
}
.wBox {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: "Mukta", sans-serif;
    height: 100px;
    width: 220px;
    background-color: $white;
    border-radius: $br;
    box-shadow: $bshad;
    padding-top: 5px;
    transition: box-shadow 0.3s;
}
.wBox2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: "Mukta", sans-serif;
    height: 226px;
    width: 350px;
    background-color: $white;
    border-radius: $br;
    box-shadow: $bshad;
    padding-top: 5px;
    transition: box-shadow 0.3s;
}
.bWidget {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.num1 {
    display: flex;
    font-size: 3em;
    margin: 0;
    width: 52px;
    justify-content: center;
}
.num21 {
    display: flex;
    margin: 0;
    align-self: center;
    color: rgb(81,209,48);
    background-color: rgb(81,209,48,.25);
    width: 70px;    
    border-radius: 5px;
    justify-content: center;
}
.num22 {
    display: flex;
    margin: 0;
    align-self: center;
    color: rgb(255, 0, 0);
    background-color: rgb(255, 0, 0, .25);
    width: 70px;
    border-radius: 5px;
    justify-content: center;
}
#graph {
    width: 320px;
    align-self: center;
}

.top-container-text{
        display: flex;
        justify-content: space-evenly;
        font-size: 28px;
        font-weight: bold;
        font-family: $mukta;
        color: rgb(30,27,82);
}

.wCont1{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.box1{
    @include boxes();
}

.box1:hover{
    box-shadow: rgba(50, 50, 93, 0.4) 0px 6px 12px -2px, rgba(0, 0, 0, 0.5) 0px 3px 7px -3px;
}

.box-icon-1{
    @include box-icon("images/wallet-solid.svg");
}

.box-number-1{
    @include box-number();
}

.box-icon-2{
    @include box-icon("images/chart-pie-solid.svg");
}

.box-icon-3{
    @include box-icon("images/credit-card-solid.svg");

}

.input-borders {
    border-radius: $br;
}

.button-borders {
    border-radius: $br;
}
.wBox:hover {
    box-shadow: rgba(50, 50, 93, 0.4) 0px 6px 12px -2px, rgba(0, 0, 0, 0.5) 0px 3px 7px -3px;
}
.wBox2:hover {
    box-shadow: rgba(50, 50, 93, 0.4) 0px 6px 12px -2px, rgba(0, 0, 0, 0.5) 0px 3px 7px -3px;
}

