@use "variables.scss" as *;
body {
    background-color: $bgc;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $white;
    margin: 40px 20px;
    box-shadow: $bshad;
    border-radius: $br;
    height: 35em;
}
.cLeft {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(111,106,248);
    border-radius: .75em;
    width: 3em;
    margin: $marge;
    box-shadow: $bshad;
}
.cCenter {
    border-radius: $br;
    width: 32em;
    margin: $marge;
}
.cRight {
    background-color: $bgc;
    border-radius: $br;
    width: 12em;
    margin: $marge;
}
.logo {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: $white;
    padding: 20px;
}
div i {
    padding: 10px 0px;
    color: $white;
}
.gear {
    display: flex;
    flex-grow: 2;
    align-items: flex-end;
    padding-bottom: 30px;
}