@use "variables.scss" as *;
body {
    background-color: $bgc;
}

p {
padding: 0;
margin: 0;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $white;
    margin: 40px 20px;
    box-shadow: $bshad;
    border-radius: $br;
    height: 35em;
}
.cLeft {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(111,106,248);
    border-radius: .75em;
    width: 3em;
    margin: $marge;
    box-shadow: $bshad;
}
.cCenter {
    border-radius: $br;
    width: 32em;
    margin: $marge;
}
.cRight {
    background-color: rgb(242,242,252);
    border-radius: $br;
    width: 13em;
    margin: $marge;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

@mixin icon-mixin($background-img, $icon-width: 22px, $icon-height: 22px) {
    width: $icon-width;
    height: $icon-height;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url($background-img);
    transition: box-shadow 0.4s;
}

.calendar {
    @include icon-mixin("images/calendar-days-regular.svg");
    border-radius: 3px;
}

.calendar:hover{
    box-shadow: rgba(111,106,248, 0.4) -5px 5px, rgba(111,106,248, 0.3) -10px 10px, rgba(111,106,248, 0.2) -15px 15px, rgba(111,106,248, 0.1) -20px 20px, rgba(111,106,248, 0.05) -25px 25px;
}

.bell {
    @include icon-mixin("images/bell-regular.svg");
    border-radius: 20px;
}

.bell:hover{
    box-shadow: rgba(111,106,248, 0.4) -5px 5px, rgba(111,106,248, 0.3) -10px 10px, rgba(111,106,248, 0.2) -15px 15px, rgba(111,106,248, 0.1) -20px 20px, rgba(111,106,248, 0.05) -25px 25px;
}

.messages{
    @include icon-mixin("images/message-regular.svg");
    border-radius: 3px;
}

.messages:hover {
    box-shadow: rgba(111,106,248, 0.4) 5px 5px, rgba(111,106,248, 0.3) 10px 10px, rgba(111,106,248, 0.2) 15px 15px, rgba(111,106,248, 0.1) 20px 20px, rgba(111,106,248, 0.05) 25px 25px;
}

.basic-user {
    @include icon-mixin("images/no-profile-pic.png",25px,25px);
}

.basic-user:hover {
    box-shadow: rgba(111,106,248, 0.4) 0px 5px, rgba(111,106,248, 0.3) 0px 10px, rgba(111,106,248, 0.2) 0px 15px, rgba(111,106,248, 0.1) 0px 20px, rgba(111,106,248, 0.05) 0px 25px;
}

.productBar {
    display: flex;
    justify-content: flex-end;
    margin: 15px;

}   

.to-do-list {
    font-family: $mukta;
    margin: 1em;
    color: rgb(30,27,82)
}

.moduals{
    height: 45px;
    display: flex;
    margin-top: 1em;
}

.modual-icon-box{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    width: 25%;
    background-color: rgb(228,229,243);
    margin-right: 10px;
}

.modual-icon{
    height: 20px;
    width: 20px;
    @include icon-mixin("images/money-bill-1-regular.svg");
}

.modual-text-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75%;
}

.header-text{
    font-size: 13px;
}

.time-text{
    font-size: 10px;
    color: rgb(198,197,217);
}

.logo {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: $white;
    padding: 20px;
}
div i {
    padding: 10px 0px;
    color: $white;
}
.gear {
    display: flex;
    flex-grow: 2;
    align-items: flex-end;
    padding-bottom: 30px;
}